%div.page-header
  %h1 Your account
- unless current_user.charges.empty?
  %h2 Your payments
  - if current_user.total_owed > 0
    = render 'payments/payment_amount'
    = render 'payments/payment_information'
  - else
    %p Thank you for paying for your ticket(s) in full. We look forward to welcoming you and your guests at the Ball.
  - if current_user.payments.empty?
    %p
      We haven't yet received any payments from you.
  - else
    = render 'payments/payment_table', payments: current_user.payments

  %hr
  %h2 Your charges
  = render 'charges/charge_table', charges: current_user.charges
  %hr

%h2 Your tickets
- if current_user.tickets.empty?
  %p
    You haven't yet applied for any tickets.
- else
  = render 'tickets/ticket_table', tickets: current_user.tickets
-if current_user.can_get_more_tickets?
  -if current_user.tickets.empty?
    = link_to 'Apply for tickets', new_ticket_path, :class => 'btn btn-primary'
  -else
    = link_to 'Apply for more tickets', new_ticket_path, :class => 'btn btn-primary'
