%div.page-header
  %h1 Your account
%h2 Your tickets
- if current_user.tickets.empty?
  %p 
    You haven't yet applied for any tickets.
- else
  %table.table.table-striped
    %thead
      %tr
        %th= Ticket.human_attribute_name(:id)
        %th= Ticket.human_attribute_name(:name)
        %th= Ticket.human_attribute_name(:ticket_type)
        %th= Ticket.human_attribute_name(:status)
        %th= Ticket.human_attribute_name(:donation)
        %th= Ticket.human_attribute_name(:created_at)
        -# %th=t '.actions', :default => t("helpers.actions")
    %tbody
      = render partial: "tickets/ticket_row", collection: current_user.tickets, as: :ticket
= link_to "Apply for tickets!", tickets_path, :class => 'btn btn-primary'
