= simple_form_for @ticket, html: { class: 'form-horizontal' },
  wrapper: :horizontal_form,
  wrapper_mappings: { check_boxes: :horizontal_radio_and_checkboxes,
  radio_buttons: :horizontal_radio_and_checkboxes,
  file: :horizontal_file_input,
  boolean: :horizontal_boolean } do |f|
  = f.input :name, label: "First guest's name:"
  = error_span(@ticket[:name])
  = f.input :second_name, label: "Second guest's name:"
  = error_span(@ticket[:second_name])
  - if new
    = f.association :ticket_type, collection: current_user.available_ticket_groups, as: :radio_buttons,
        :label_method => lambda { |item| "#{item.name} – #{number_to_currency(item.price, unit: '£')}" }
    = error_span(@ticket[:ticket_type])
    = f.input :donation, as: :currency
    = error_span(@ticket[:donation])
  = f.button :submit, :class => 'btn-primary'
  = link_to 'Cancel', home_path, :class => 'btn btn-default'
