= simple_form_for @ticket do |f|
  = f.input :name, label: "First guest's name:"
  = error_span(@ticket[:name])
  = f.input :second_name, label: "Second guest's name:"
  = error_span(@ticket[:second_name])
  - if new
    = f.association :ticket_type, collection: current_user.available_ticket_groups
    = error_span(@ticket[:ticket_type])
    = f.input :donation
    = error_span(@ticket[:donation])
  = f.button :submit, :class => 'btn-primary'
  = link_to 'Cancel', home_path, :class => 'btn btn-default'
