%tr
  %td= link_to ticket.id, ticket_path(ticket)
  %td= ticket.name
  %td= ticket.second_name
  %td= ticket.ticket_type.short_name.to_s.humanize
  %td= ticket.status.humanize
  %td= number_to_currency(ticket.donation, unit: "£")
  %td= ticket.created_at.to_date.to_s(:long_ordinal)
  %td
    = link_to t('.edit', :default => t("helpers.links.edit")), edit_ticket_path(ticket), :class => 'btn btn-default btn-xs'
