%table.table.table-striped
  %thead
    %tr
      %th.col-md-2 First guest
      %th.col-md-2 Second guest
      %th.col-md-2= Ticket.human_attribute_name(:ticket_type)
      %th.col-md-2= Ticket.human_attribute_name(:status)
      %th.col-md-2= Ticket.human_attribute_name(:donation)
      %th.col-md-2= Ticket.human_attribute_name(:created_at)
      -#%th
  %tbody
    = render partial: 'tickets/ticket_row', collection: tickets, as: :ticket
