= devise_error_messages!
.panel.panel-default.top10
  .panel-heading
    %h3= 'Sign in to Peterhouse 2015 Ticketing'
  .panel-body
    = bootstrap_flash
    %h4 Current students
    %p
      = link_to 'Sign in with Raven', user_omniauth_authorize_path(:raven), :class => 'btn btn-primary'
    %hr/
    %h4 Alumni
    %p
      = link_to 'Create an account', new_user_registration_path, :class => 'btn btn-primary'
    = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      = f.input :email, as: :email, label: 'Email address'
      = f.input :password
      = f.submit "Sign in", :class => "btn btn-primary"
-#%div.modal.show
-#  %div.modal-dialog
-#    %div.modal-content
-#      %div.modal-header
-#        %h2.modal-title Sign in to Peterhouse 2015 Ticketing
-#      %div.modal-body
-#        = bootstrap_flash
-#        %h3 Current Students
-#        = link_to "Sign in with Raven", user_omniauth_authorize_path(:raven), :class => "btn btn-primary"
-#        %hr
-#        %h3 Alumni
-#        %p Tickets will go on sale to alumni shortly
