%div.modal.show
  %div.modal-dialog
    %div.modal-content
      %div.modal-header
        %h2.modal-title Sign in to Peterhouse 2015 Ticketing
      %div.modal-body
        = render "devise/shared/links"
        %hr
        = form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "form-horizontal"}) do |f|
          %div.well
            %div.control-group.row
              = f.label :email
              %div.controls
                = f.email_field :email, autofocus: true

            %div.control-group.row
              = f.label :password
              %div.controls
                = f.password_field :password, autocomplete: "off"

          %div.modal-footer
            = f.submit "Sign in", :class => "btn btn-primary"
